{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block container %}
<div class="container w-25">
    <form method="post">

        <h1 class="h3 mb-3 mt-4 font-weight-normal">Veuillez vous identifier</h1>
        <div class="row">
            <div class="col">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="password">Password</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>
        </div>
        <div class="row">
        {% if error %}
            <div class="mt-4 alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
            <div class="col mt-3">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
