<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home_index') }}">Task Manager</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
       <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {{ app.request.get('_route') == 'app_task_index' ? 'active' : '' }}" href="{{ path('app_task_index') }}">Tâches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ app.request.get('_route') == 'app_employee_index' ? 'active' : '' }}" href="{{ path('app_employee_index') }}">Employés</a>
        </li>
      </ul>
        <a class="btn btn-secondary my-2 my-sm-0"  href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
  </div>
</nav>