{% extends 'layout.html.twig' %}

{% block title %}Édition de la tâche{% endblock %}

{% block body %}
    <div class="row">
        <h1>Édition de la tâche</h1>
    </div>
    <div class="d-flex justify-content-between">
        <a href="{{ path('app_task_index') }}" class="btn btn-dark"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
        <div>
            {{ include('task/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="mt-4">
        {{ include('task/_form.html.twig', {'button_label': 'Metre à jour'}) }}
    </div>
{% endblock %}
