{% extends 'layout.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mt-4 mb-4">
        <h3>Liste des tâches</h3>
        <a href="{{ path('app_task_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Créer une tâche</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-left">Id</th>
                <th class="text-left">{{knp_pagination_sortable(tasks, 'Libéllé', 't.title')}}</th>
                <th class="text-left">{{knp_pagination_sortable(tasks, 'Date de début', 't.startTime')}}</th>
                <th class="text-left">{{knp_pagination_sortable(tasks, 'Date de fin', 't.endTime')}}</th>
                <th class="text-left">Temps</th>
                <th class="text-center">Assigné à</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            {% set duration = task.endTime ? task.endTime.diff(task.startTime) : null %}
            <tr>
                <td class="text-left">{{ task.id }}</td>
                <td class="text-left">{{ task.title }}</td>
                <td class="text-left">{{ task.startTime ? task.startTime|date('d-m-Y H:i') : '' }}</td>
                <td class="text-left">{{ task.endTime ? task.endTime|date('d-m-Y H:i') : '' }}</td>
                <td class="text-left">{{ duration ? duration.format('%H:%I:%S') : '' }}</td>
                <td class="text-center">
                    {% if task.employee %}
                        <a class="text-info" href="{{ path('app_employee_show', {'id': task.employee.id}) }}">
                            {{ task.employee.name }}
                        </a>
                    {% endif %}
                </td>
                <td class="text-end">
                    <div class="btn-group" aria-label="Actions">
                        <a href="{{ path('app_task_show', {'id': task.id}) }}" type="button" class="btn btn-secondary">Détail</a>
                        <a href="{{ path('app_task_edit', {'id': task.id}) }}" type="button" class="btn btn-success">Modifier</a>
                        <a href="{{ path('app_task_assign', {'id': task.id}) }}" type="button" class="btn btn-warning">Assigner</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mt-4">
        {{ knp_pagination_render(tasks) }}
    </div>
{% endblock %}
