{% extends 'layout.html.twig' %}

{% block title %}Nouvele tâche{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle tâche</h1>

    <div class="text-right mb-4">
        <a href="{{ path('app_task_index') }}" class="btn btn-dark"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
    </div>

    {{ include('task/_form.html.twig', {'button_label': 'Créer'}) }}

{% endblock %}
