{% extends 'layout.html.twig' %}

{% block title %}Détail de la tâche{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h3>Détail de la tâche</h3>
        <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i> Modifier</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Libéllé</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ task.startTime ? task.startTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ task.endTime ? task.endTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_task_index') }}" class="btn btn-dark"><i class="fas fa-arrow-left"></i> Retour à la liste</a>

{% endblock %}
