{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-end">
        <button class="btn btn-primary"><i class="fas fa-save"></i> {{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
