{% extends 'layout.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mt-4 mb-4">
        <h3>Liste des employés</h3>
        <a href="{{ path('app_employee_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter un employé</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-left">Id</th>
                <th class="text-left">Nom</th>
                <th class="text-left">Créé le</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td class="text-left">{{ employee.id }}</td>
                <td class="text-left">{{ employee.name }}</td>
                <td class="text-left">{{ employee.createdAt ? employee.createdAt|date('d-m-Y H:i') : '' }}</td>
                <td class="text-end">
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a href="{{ path('app_employee_show', {'id': employee.id}) }}" type="button" class="btn btn-secondary">Détail</a>
                        <a href="{{ path('app_employee_edit', {'id': employee.id}) }}" type="button" class="btn btn-success">Modifier</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4">
        {{ knp_pagination_render(employees) }}
    </div>
{% endblock %}
