{% extends 'layout.html.twig' %}

{% block title %}Création d'un employé{% endblock %}

{% block body %}
    <h1>Création d'un employé</h1>

    <div class="text-right mb-4">
        <a href="{{ path('app_employee_index') }}" class="btn btn-dark"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
    </div>

    {{ include('employee/_form.html.twig', {'button_label': 'Créer'}) }}

{% endblock %}
