{% extends 'layout.html.twig' %}

{% block title %}Détail de l'employé{% endblock %}

{% block body %}
    <div class="mb-4">
        <a href="{{ path('app_employee_edit', {'id': employee.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i> Modifier</a>
    </div>
    <div class="row">
        <div class="col">
        <h4 class="text-info">Détail de l'employé</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ employee.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ employee.name }}</td>
                    </tr>
                    <tr>
                        <th>Crée le </th>
                        <td>{{ employee.createdAt ? employee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        <div class="col">
            <h4 class="text-danger">Tâches assignées</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Libéllé</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in employee.task %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.startTime ? task.startTime|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ task.endTime ? task.endTime|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucune tâche assignée</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{{ path('app_employee_index') }}" class="btn btn-dark"><i class="fas fa-arrow-left"></i> Retour à la liste</a>

{% endblock %}
