{% extends 'layout.html.twig' %}

{% block body %}
  	<div class="row">
		{% include "partials/_bloc_infos.html.twig" with
			{
			'color' : 'success',
			'icon' : 'fas fa-tasks',
			'text' : "Nombre de tâches ( " ~ countTasks ~ " )"
			}
		%}
    {% include "partials/_bloc_infos.html.twig" with
      {
      'color' : 'warning',
      'icon' : 'fas fa-users',
      'text' : "Nombre d'employés ( " ~ countEmployees ~ " )"
      }
    %}
	</div>
{% endblock %}