{% extends "base.html.twig" %}

{% block container %}
    {% include "partials/_navbar.html.twig" %}
    <div class="container pt-3 mb-5">
    {% for rubrique, messages in app.flashes %}
        <div class="alert alert-dismissible alert-{{rubrique}}">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
    {% endfor %}
        {% block body %}

        {% endblock %}
    </div>
{% endblock %}